body{
    font-family: 'Roboto', sans-serif;
}

h1{
    color: #016da9;
}

p{
    font-weight: bold;
}

.all{
    width: 940px;
    margin: auto;
}

.featured{
   display: inline-block;
}

.een{
    margin-right: 15px;
}
.twee{
    margin-right: 15px;
}

.whoswho{
   float: left;
   margin: 0;
}






